<div id='about' class='popupContent centered'>
    <div>
        <h3>Realtime GeoQ Enhancements</h3>
        <br/>
        <br/> A <span class='link' data='http://www.codeforhuntsville.org/'><b>Code the South</b></span> project</br>
        <br/>
        <span class='link' data='http://www.codeforhuntsville.org/'><b>Code the South</b></span> is Huntsville's new <span class='link' data='http://www.codeforamerica.org/brigade'><b>Code for America Brigade</b></span>.
        <br><i>We are volunteers who collaborate with local government to promote open data and build civic apps.</i>.
    </div>
    <div id='credit'>
        <h3>Code the South Team:</h3>
        <div class='left'><b>Developers</b>
            <br/><span class='link' data='http://www.planning.org/profile/glarrymason'><b>Larry Mason</b></span>
            <br/><span class='link' data='http://tylerhughes.info'><b>Tyler Hughes</b></span>
            <br/><span class='link' data='#'><b>Michael Carroll</b></span>
            <br/><span class='link' date='#'><b>Chris Beaman</b></span>
        </div>
        <br/>
    </div>
    <p/>
    <div id='support'>
        For Comments, Questions or Support email
        <a href="mailto:contact@hoparoundhuntsville.com"><b>contact@HopAroundHuntsville.com</b></a>
    </div>
</div>