<!DOCTYPE html>
<html>
	<head>
			<% include ../partials/_header.ejs %>
			<!--script type="text/javascript">
				google.maps.event.addDomListener(window, 'load', initializeMap);
			</script-->
	</head>
	<body>
			<% include ../partials/_menuBar.ejs %>
			<div id='container'>
					<div id="transitMap"></div>
			</div>
			<div id='content'>
					<div class="alert alert-danger text-center" role="alert">
							Your access and/or use of this site signifies that you agree to the <b><u>terms of use</u></b>
					</div>
			</div>
			<div id="hiddenMaps">
				
			</div>
			<div id='footer'>
					<% include ../partials/_footer.ejs %>
			</div>
			<div id='glass'></div>
			<div id='menuPopup'>
					<img src='/images/menuClose.png' />
					<% include ../partials/_stopSchedule.ejs %>
					<% include ../partials/_about.ejs %>
					<% include ../partials/_terms.ejs %>
			</div>
					<script>
							HSV_TT.map.init();
							//HSV_TT.sockets.init();
					</script>
	</body>
</html>